/* hysplit app css */

/*
some of this is taken from the example at
http://leafletjs.com/examples/choropleth/
*/
body {margin: 0}
#map {
    width: 100%;
    height: 100%;
    min-height: 650px;
}
#locator {
    width: 350px;
    height: 350px;
    z-index: 0;
    border-radius: 2px;
}
.leaflet-top.leaflet-right .leaflet-control {
    clear: none;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 10px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* needed to fix the fwd-switching button! */
.easy-button-button .button-state {
    display: inline;
}

/* fix superscript line heights- taken from
https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub { 
    top: 0.4em; 
}

/* slider stuff */
.ui-slider-vertical.ui-slider-pips .ui-slider-label {
    width: max-content;
    color: black;
    margin-left: -5px;
}
.ui-slider-vertical {
    height: 35px;    
}
.vertical-axis.info {
    background: none;
    box-shadow: none;
}
.vertical-axis h4 {
    color: #111;
    margin-bottom: 15px;
}
.ui-slider-vertical.ui-slider-pips .ui-slider-line {
    width: 6px;
    left: -8px;
    background: #666;
}
.ui-widget.ui-widget-content {
    border: 1px solid #666;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #666;
}
/* get rid of the garish blue jquery ui default color when active */
.ui-state-active, .ui-widget-content .ui-state-active {
    background: #e5e5e5;
}